@import "../../styles/design-tokens.scss";

.form {
  display: grid;
  grid-template-columns: [start] 1fr 1fr [end];
  grid-template-rows: [top] 55 120 105 auto [bottom];
  column-gap: 60px;
}

.title {
  margin-bottom: 34px;
  grid-column-start: start;
  grid-column-end: end;
}
.label {
  display: block;

  margin-bottom: 18px;

  font-family: Lora, serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 100%;
}

.input {
  width: 100%;
  height: 2.5rem;
  padding-bottom: 0.5rem;

  border-bottom: 2px solid $middle-blue;

  font-size: 1.5rem;
  &:focus {
    outline-style: dotted;
    outline-color: $light-blue;
  }
}
.text {
  grid-column: start / end;

  height: 100%;
  margin-top: 55px;

  .input {
    resize: vertical;
  }
}

.block {
  display: flex;
}

.submit {
  margin-top: 44px;
  justify-self: start;
}
